@media screen and (max-width:700px) {

    header {
        width: 100%;
        height: 65px;
        position: fixed;
        z-index: 10;
        background-color: #141414;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .nav_right {
        display: none;
    }


    .botao {
        margin-top: 5px;
    }

    .mais_info {
        margin-left: 0;
    }
}